.main_container {
  border: 3px solid red;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
}

.container_left {
  border: 3px solid green;
}

.container_right {
  border: 3px solid blue;
}

.container_three {
  border: 3px solid orange;
}

body {
  margin: 0;
}
